body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  background-image: url('assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: Arial, sans-serif; */
  
}